/* GLOBAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FULL SCREEN LAYOUT */
html,
body,
#root {
  width: 100%;
  height: 100%;
}

/* BASE THEME */
body {
  font-family: Inter, Segoe UI, sans-serif;
  background: #0f172a;
}
