/* RESET DEFAULT STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FULL HEIGHT */
html,
body,
#root {
  height: 100%;
  width: 100%;
}

/* REMOVE VITE DEMO STYLES */
body {
  font-family: Inter, Segoe UI, sans-serif;
  background: #0f172a; /* matches App.jsx */
}
